.topNav{
    display: flex;
    justify-content: right;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    background-color: darkblue;
    color: white;
    height: 30px;


    
}

#toplabel1{
    background-color: skyblue;
    padding-left: 3px;
    padding-right: 3px;
   
}
#toplabel2{
   
    background-color: black;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
  
}

.navfond{
    color: white;
    font-size: 10px;
}