.topNav{
    display: flex;
    justify-content: right;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    background-color: darkblue;
    color: white;
    padding-bottom: 0px;
    font-size: small;
    max-height: 25px;
    
}

#toplabel1{
    background-color: skyblue;
    padding-left: 3px;
    padding-right: 3px;
   
}
#toplabel2{
   
    background-color: black;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
  
}

.navfond{
    color: white;
    font-size: medium;
    text-decoration: none;
    padding: 8px;
    font-weight: 400;
    
}

.nav1{
    padding-top: 0px;
    background-color: darkblue;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    max-height: 60px;

}

.tab1{
   display: flex;
   bottom: -15px;
   position: relative;
}